# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build outputs
build

# Local environment files (optional if you copy .env explicitly)
.env.local
.env.development
.env.test
.env.production

# OS-specific files
.DS_Store
Thumbs.db

# Git
.git
.gitignore
